footer.section {
    background: $primary-color;
    color: #fff;
    padding: 30px 0 0 0;
    position: relative;
    .footer-left {
        a {
            display: block;
            margin-bottom: 30px;
        }
    }
    .foot-contact {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                a {
                    color: #fff;
                    &:hover {
                        color: $grey;
                    }
                }
                i {
                    text-align: center;
                    margin-right: 10px;
                }
            }
        }
    }
    #footer-menu {
        background: $primary-color-two;
        padding: 30px 0;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                float: left;
                margin-right: 20px;
                a {
                    color: #fff;
                    &:hover {
                        color: $grey;
                    }
                }
            }
        }
        .foot-up {
            color: #fff;
        }
    }
    #copyrights {
        background: $grey;
        padding: 30px 0;
        font-size: 13px;
    }
    .form {
        form {
            input {
                background: rgba(255,255,255,0.2);
                border: none;
                border-radius: 7px;
                width: 100%;
                margin-bottom: 10px;
                &:last-of-type {
                    max-width: 100px;
                    border: 1px solid #fff;
                }
            }
            textarea {
                background: rgba(255,255,255,0.2);
                border: none;
                border-radius: 7px;
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}