/*
* 1. Slider sections
* 2. Front Page Top
* 3. Front Page Numbers sec
* 4. Front Page products sec
* 5. Front page white label sec
* 6. Front page third party sec
* 7. Front page services sec
* 8. Front page payment gateways sec
* 9. Front page events sec
*/

/* 1. Slider sections */
.section-slider , .section {
    padding: 30px 0;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
        .container {
            div {
                .owl-nav{
                    display: block;
                    top: 0;
                    width: auto;
                    padding: 5px 0 0 10px;
                    transition: opacity 0.2s;
                    opacity: 0.3;
                    z-index: 999;
                    padding: 15px 0;
                    button {
                        display: inline-block;
                        position: relative;
                        width: 40px;
                        padding: 5px;
                        margin-right: 2px;
                        border: 1px solid $grey;
                        border-radius: 10px;
                        text-align: center;
                        span {
                            position: relative;
                            color: #000;
                        }
                    }
                }
                .item {
                    border: none;
                    .posts-excerpt {
                        padding: 0 15px;
                        margin: 0 5px;
                        .excerpt-text {
                            color: #000;
                        }

                    }
                }
            }
            .link-to-page {
                width: 100%;
                height: 100%;
                display: block;
                padding: 30px;
            }
        }
        .sec-read-more {
            text-align: right;
            padding: 100px 0 20px 0;
            transform: translateX(-30px);
            a , a:hover , a:visited , a:active {
                color: #fff;
                text-decoration: none;
                padding: 20px;
                border: 1px solid;
                border-radius: 30px;
                i {
                    margin-left: 10px;
                }
            }
        }
}




/* 2. Front Page Top */
#top {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    #slogan-sec {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        height: 200px;
        width: 100%;
        //background: linear-gradient(45deg,rgba(25,118,210,.8) 0,rgba(25,118,210,.8) 50%,rgba(0,0,0,.0) 51%,rgba(0,0,0,.0) 100%);
        .container {
            height: inherit;
            position: relative;
            #slider-map {
                position: absolute;
                height: inherit;
                width: 40%;
                right: 0;
                transform: translateY(-50%);
                top: 50%;
                img {
                    max-width: 500px;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            #slogan {
                position: relative;
                color: #fff;
                width: 70%;
                transform: translateY(-50%);
                height: auto;
                top: 50%;
                font-size: 50px;
                span {
                    font-size: 18px;
                    margin-right: 5px;
                }
                img {
                    width: 100%;
                    max-width: 150px;
                    margin: 0 auto;
                    display: inline-block;
                }
            }
        }
    }
    #home-cta { 
        position: absolute;
        top: 200px;
        width: 50%;
        color: #fff;
        height: 100px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,000000+100&0.8+0,0.8+80,0+81,0+100 */
background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 1%, rgba(0,0,0,0.8) 80%, rgba(0,0,0,0) 81%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 1%,rgba(0,0,0,0.8) 80%,rgba(0,0,0,0) 81%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 1%,rgba(0,0,0,0.8) 80%,rgba(0,0,0,0) 81%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        div{
            position: relative;
            width: 100%;
            height: inherit;
            #menu-cta {
                list-style: none;
                position: absolute;
                width: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50% , -50%);
                padding: 0;
                margin: 0;
                li {
                    display: inline;
                    margin: 0 10px;
                    a {
                        padding: 15px 20px;
                        border: 1px solid #fff;
                        border-radius: 20px;
                        color: #fff;
                        &:hover , &:active , &:focus {
                            text-decoration: none;
                            color: $primary-color;
                            border: 1px solid $primary-color;
                        }
                    }
                }
            }
        }        
    }
}


/* 3. Front Page Numbers sec */
#numbers-outer {
    background: #fff;
    color: $grey;
    padding: 100px 0;
    &:hover {
        .owl-nav {
            opacity: 1;
        }
    }
    h2 {
        color: $grey;
    }
    .owl-carousel {
        .item {
            background: rgba(0,0,0,0.1);
            border-radius: 10px;
            border: none;
            .posts-excerpt {
                .excerpt-meta {
                    font-size: 80px;
                    text-align: center;
                }
                .excerpt-title {
                    font-size: 20px;
                    text-align: center;
                    margin-bottom: 20px;
                }
                .excerpt-text {
                    color: $grey;
                }
            }
        }
        .owl-nav {
            transition: opacity 0.5s;
            button {
                background: rgba(0,0,0,0.1);
                border-color: $grey;
                span {
                    color: $grey;
                }
            }
        }
    }
}



    /* 4. Front Page products sec */
    #products {
        background-color: #fff;
        min-height: 100vh;
        .title {
            color: $grey;
        }
        .nav-tabs {
            border: none;
            li {
                width: 33.33%;
                margin: 0;
                border-bottom: 1px solid rgba(0,0,0,0.2);;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dcdcdc+0,ffffff+15,ffffff+25,dcdcdc+100 */
background: rgb(220,220,220); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(220,220,220,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 25%, rgba(220,220,220,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(220,220,220,1) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 25%,rgba(220,220,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(220,220,220,1) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 25%,rgba(220,220,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#dcdcdc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                &.active {
                    border: 1px solid rgba(0,0,0,0.2);;
                    border-bottom: none;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cecdcc+0,efefef+18,cecdcc+100 */
background: rgb(206,205,204); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(206,205,204,1) 0%, rgba(239,239,239,1) 18%, rgba(206,205,204,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(206,205,204,1) 0%,rgba(239,239,239,1) 18%,rgba(206,205,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(206,205,204,1) 0%,rgba(239,239,239,1) 18%,rgba(206,205,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecdcc', endColorstr='#cecdcc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                    a {
                        background: 0 0;
                        border: none;
                        margin: 0;
                    }
                }
                &:first-child.active {
                    border-left: none; 
                }
                &:last-child.active {
                    border-right: none; 
                }
                a {
                    border: none;
                    font-size: 20px;
                    color: $grey;
                }
            }
        }
        .tab-content {
            border-top: none;
            background: rgba(0,0,0,0.05);
            padding: 15px;
            .tab-pane {
                .item {
                    h3 {
                        display: none;
                    }
                }
            }
        }
        .item {
            .container {
                position: relative;
            }
            padding: 50px 0;
            h3 {
                color: $grey;
            }
            .featured-img {
                text-align: center;
                img {
                    height: 300px;
                    margin: 0 auto;
                }
            }
        }

    /* 5. Front page white label sec */
        #white-label-betting-software {
            span {
                display: block;
            }
            .excerpt {
                text-align: center;
                div {
                    background: rgba(0,0,0,0.04);
                    border-radius: 10px;
                    width: 100%;
                    max-width: 300px;
                    margin: 0 auto;
                    padding-top: 10px;
                    ul {
                        padding: 0;
                        margin: 0;
                        list-style: none;
                        li {
                            padding-bottom: 10px;
                            font-size: 20px; 
                        }
                    }
                }
            }
            .carousel {
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 30px 0 0 0;
                    background: $grey;
                    .item {
                        padding: 0;
                        margin: 0;
                        div {
                            width: 32.43%;
                            float: left;
                            padding: 0 15px;
                            margin: 0 5px;
                            span {
                                padding: 5px 0;
                                text-align: center;
                                font-size: 20px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        .sec-read-more {
            a , a:hover , a:visited , a:active {
                color: #000;
            }
        }
    }


/* 6. Front page third party sec */

#third-parties {
    background-color: #515071;
    .title{
        color: #fff;
    }
        .tp-prod-outer {
            background: rgba(255,255,255,0.1);
            border: 1px solid rgba(255,255,255,0.01);
            border-radius: 30px;
            max-width: 400px;
            margin: 30px auto;
            position: relative;
            transition: all 0.5s;
            text-align: center;
            &:hover {
                background: rgba(255,255,255,0.2);
                border: 1px solid rgba(255,255,255,0.5);
            }
            h3 {
                text-align: center;
                padding: 10px 0 50px 0;
                color: #fff;
                display: inline-block;
            }
            .excerpt {
                color: #fff; 
                display: inline-block;
                text-align: left;
            }
            .tp-img-outer {
                text-align: center;
                img {
                    max-width: 150px;
                }
            }
        }
}

/* 7. Front page services sec */
#services {
    background-color: #515071;
    .title{
        color: #fff;
    }
    .serv-outer {
        background: rgba(255,255,255,0.1);
        border-radius: 30px;
        margin: 30px auto;
        position: relative;
        border: 1px solid rgba(255,255,255,0.01);
        text-align: center;
        transition: all 0.5s;
        &:hover {
            background: rgba(255,255,255,0.2);
            border: 1px solid rgba(255,255,255,0.5);
        }
        h3 {
            text-align: center;
            padding: 10px 0 50px 0;
            color: #fff;
            display: inline-block;
        }
        .excerpt {
            color: #fff;
            display: inline-block;
            text-align: left;
        }
        .tp-img-outer {
            text-align: center;
            img {
                width: 128px
            }
        }
    }
}


/* 8. Front page payment gateways sec */

#pay-gateways-outer {
    &:hover {
        .owl-nav {
            opacity: 1;
        }
    }
    .owl-nav {
        transition: opacity 0.5s;
    }
    .title {
        color: $grey;
    }
    .item {
        padding: 30px;
        img {
            max-width: 130px;
            margin: 0 auto;
        }
    }
}



/* 9. Front page events sec */

#events-outer {
    background-color: #515071;
    background-position: bottom;
    &:hover {
        .owl-nav {
            opacity: 1;
        }
    }
    .title {
        color: #fff;
    }
    .owl-item {
        background: rgba(255,255,255,0.1);
        .thumbnail {
            margin-bottom: 0;
        }
    }
    .item {
        height: 300px;
        background: unset;
        padding: 0;
        &:hover .event-img {
            filter: saturate(100%); 
        }
        .event-img {
            width: 50%;
            height: 100%;
            float: left;
            filter: saturate(20%);
            transition: filter 200ms linear;
            position: relative;
            img {
                position: relative;
                top: 40%;
                left: 50%;
                transform: translateX(-50%);
                max-width: 70%;
                max-height: 50%
            }
        }
        .event-text  {
            width: 50%;
            height: 100%;
            float: left;
            position: relative;
            padding-right: 15px;
            p {
                position: relative;
                top: 40%;
                max-height: 50%;
                color: #fff;
            }
            a {
                display: none;
            }
        }
        h3 {
            position: absolute;
            width: 100%;
            padding: 30px;
            background: rgba(0,0,0,0.8);
            margin: 0;
            color: #fff;
            text-align: right;
        }
    }
    .owl-stage-outer {
        border-radius: 0 60px;
    }
    .owl-nav {
        transition: opacity 0.5s;
        button {
            background: rgba(255,255,255,0.1);
            border-color: #fff;
            span {
                color: #fff;
            }
        }
    }
}