/*
* 1. Variables
* 2. Generic classes
* 3. General
*/


/* 1. Variables */
$primary-color: #1875D1;
$primary-color-two: #2196F3;
$grey: #333;



/* 2. Generic classes */
.visible-posts {
    display: block !important;
}
.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%)
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}


/* 3. General */
* {
  font-family: 'Titillium Web', sans-serif;
}
html {
  body {
      font-size: 16px;
  }
}
h2.title {
  padding: 50px 0;
  text-align: center;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.title {
  margin: 0;
  color: #fff;
}
.sec-icon {
  padding: 80px 0;
  text-align: center;
  img {
      width: 600px;
  }
}
a {
  color: #1875D1;
}
