/*
* 1. Variables
* 2. Generic classes
* 3. General
* 4. Functions
* 5. Animations
*/


/* 1. Variables */
$primary-color: #1875D1;
$primary-color-two: #2196F3;
$grey: #333;



/* 2. Generic classes */
.visible-posts {
    display: block !important;
}
.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%)
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}


/* 3. General */
* {
  font-family: 'Titillium Web', sans-serif;
}
html {
  body {
      font-size: 16px;
      main {
        padding-top: 100px;
        background-attachment: fixed;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
  }
}
h2.title {
  padding: 50px 0;
  text-align: center;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.title {
  margin: 0;
  color: #fff;
}
.sec-icon {
  padding: 80px 0;
  text-align: center;
  img {
      width: 600px;
  }
}
a {
  color: #1875D1;
}



/* 4. Functions */
@for $i from 1 through 6 {
  #prod-page-tp .tp-thumbs:nth-child(#{$i}) {
    transition-delay:(#{$i*0.08s}); 
  }
}


/* 5. Animations */
@keyframes tp-overlay {
  0% { margin-left: 10px;}
  50%  { margin-left: 0px;}
  100%  {margin-left: 10px;}
}

@keyframes tp-arrow {
  0% {opacity: 1; transform: translateX(-20px)}
  50%  {opacity: 0; transform: translateX(0px)}
  100%  {opacity: 1; transform: translateX(-20px)}
}

@keyframes tp-link {
  0% {opacity: 1;}
  50%  {opacity: 0.3;}
  100%  {opacity: 1;}
}