/* 2. Header */
body.home {
    #header {
        background: none;
        &.fixed {
            background: #000;
        }
    }
}
#header {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 9;
    background: #000;
    transition: all 1s;
    &.fixed {
        height: 50px;
        top: 0;
        box-shadow: 0 3px 35px rgba(57, 63, 72, 0.8);
        .container {
            #logo {
                max-width: 175px;
            }
        }
    }
    .container {
        height: inherit;
        #logo {
            float: left;
            position: relative;
            max-width: 250px;
            -webkit-transition: all 1s;
            transition: all 1s;
            height: auto;
            img {
                width: 100%;
            }
        }
        #main-nav-outer {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            nav {
                transform: translateX(-50px);
                background: unset;
                margin: 0;
                border: 0;
                min-height: unset;
                ul#menu-top {
                    margin: 0 40px 0 0;
                    padding: 0;
                    top: 50%;
                    position: absolute;
                    display: block;
                    right: 0;
                    transform: translateY(-50%);
                    li {
                        display: inline-block;
                        padding: 0 10px;
                        a {
                            padding: 5px;
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
            .skype-link {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                a {
                    color: #fff;
                    text-decoration: none;
                    i {
                        font-size: 30px;
                        position: absolute;
                        transform: translate(-30px , -3px);
                    }
                }
            }
        }

    }
}