/*
* 1. General
* 2. Header
* 3. Slider sections
* 4. Front Page Top
* 5. Front Page Numbers sec
* 6. Front page white label sec
* 7. Front page live betting sec
* 8. Front page mobile betitng sec
* 9. Front page third party sec
*/



/* 1. General */
html {
    body {
        font-size: 18px;
    }
}
h2.title {
    padding: 50px 0;
    text-align: center;
}
.row {
    margin-left: 0;
    margin-right: 0;
}



/* 2. Header */
#header {
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 9;
    .container {
        height: inherit;
        #logo {
            float: left;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            max-width: 250px;
            width: 100%;
            a {
                width: 100%;
            }
        }
        #main-nav-outer {
            float: right;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            nav {
                ul#menu-top {
                    margin: 0;
                    padding: 0;
                    li {
                        display: inline-block;
                        padding: 0 10px;
                        a {
                            padding: 5px;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}



/* 3. Slider sections */
.section-slider , .section {
    padding: 30px 0;
        .container {
            div {
                .slider-controls {
                    display: block;
                    position: absolute;
                    top: 0;
                    width: auto;
                    margin: 5px 0 0 10px;
                    transition: opacity 0.2s;
                    opacity: 0.3;
                    z-index: 999;
                    a {
                        display: inline-block;
                        position: relative;
                        width: 40px;
                        padding: 5px;
                        margin-right: 2px;
                        border: 1px solid #000;
                        border-radius: 10px;
                        text-align: center;
                        span {
                            position: relative;
                            color: #000;
                        }
                    }
                }
                .item {
                    .posts-excerpt {
                        width: 32.43%;
                        float: left;
                        padding: 0 15px;
                        margin: 0 5px;
                        .excerpt-text {
                            color: #000;
                        }

                    }
                }
            }
        }
                        /* override position and transform in 3.3.x */
                        .carousel-inner .item.left.active {
                            transform: translateX(-33%);
                        }
                        .carousel-inner .item.right.active {
                            transform: translateX(33%);
                        }
                        
                        .carousel-inner .item.next {
                            transform: translateX(33%)
                        }
                        .carousel-inner .item.prev {
                            transform: translateX(-33%)
                        }
                        
                        .carousel-inner .item.right,
                        .carousel-inner .item.left { 
                            transform: translateX(0);
                        }
                        .title {
                            margin: 0;
                            color: #fff;
                        }
                        .sec-icon {
                            padding: 80px 0;
                            text-align: center;
                            img {
                                width: 600px;
                            }
                        }
}




/* 4. Front Page Top */
#top {
    height: 100vh;
    width: 100%;
    background: url('http://localhost/ARsite/app/wp-content/uploads/2018/07/home-top5-1.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    #slogan-sec {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        height: 200px;
        width: 100%;
        background: linear-gradient(45deg,rgba(25,118,210,.8) 0,rgba(25,118,210,.8) 50%,rgba(0,0,0,.0) 51%,rgba(0,0,0,.0) 100%);
        .container {
            height: inherit;
            position: relative;
            #slider-map {
                position: absolute;
                height: inherit;
                width: 40%;
                right: 0;
                transform: translateY(-50%);
                top: 50%;
                img {
                    max-width: 500px;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            #slogan {
                position: relative;
                color: #fff;
                width: 60%;
                transform: translateY(-50%);
                height: auto;
                top: 50%;
                font-size: 30px;
                span {
                    font-size: 18px;
                    margin-right: 5px;
                }
                img {
                    width: 100%;
                    max-width: 150px;
                    margin: 0 auto;
                    display: inline-block;
                }
            }
        }
    }
    #home-cta { 
        position: absolute;
        top: 200px;
        width: 50%;
        color: #fff;
        height: 100px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,000000+100&0.8+0,0.8+80,0+81,0+100 */
background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 1%, rgba(0,0,0,0.8) 80%, rgba(0,0,0,0) 81%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 1%,rgba(0,0,0,0.8) 80%,rgba(0,0,0,0) 81%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 1%,rgba(0,0,0,0.8) 80%,rgba(0,0,0,0) 81%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        div{
            position: relative;
            width: 100%;
            height: inherit;
            #menu-cta {
                list-style: none;
                position: absolute;
                width: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50% , -50%);
                padding: 0;
                margin: 0;
                li {
                    display: inline;
                    margin: 0 10px;
                    a {
                        padding: 15px 20px;
                        border: 1px solid #fff;
                        border-radius: 20px;
                        color: #fff;
                        &:hover , &:active , &:focus {
                            text-decoration: none;
                            color: $primary-color;
                            border: 1px solid $primary-color;
                        }
                    }
                }
            }
        }        
    }
}


/* 5. Front Page Numbers sec */
#numbers-outer {
    background: $primary-color;
    color: #fff;
    .carousel {
        .item {
            .posts-excerpt {
                background: rgba(255,255,255,0.1);
                border-radius: 10px;
                .excerpt-meta {
                    font-size: 80px;
                    text-align: center;
                }
                .excerpt-title {
                    font-size: 20px;
                    text-align: center;
                    margin-bottom: 20px;
                }
                .excerpt-text {
                    color: #fff;
                }
            }
        }
        .slider-controls {
            a {
                background: rgba(255,255,255,0.1);
                border-color: #fff;
                i {
                    color: #fff;
                }
            }
        }
    }
    }


    #products {
        background: #fff url(http://localhost/ARsite/app/wp-content/uploads/2018/08/white-label-back.jpg) no-repeat center;
        background-size: cover;
        .title {
            color: #333;
        }
        .item {
            .container {
                position: relative;
            }
            padding: 50px 0;
            .excerpt {
                color: #000;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                &:after {
                    content: '';
                    border-bottom: 2px solid #000;
                }
            }
            h3 {
                color: #333;
            }
            .featured-img {
                img {
                    width: 450px;
                    margin: 0 auto;
                }
            }
            &:nth-child(odd) {
                .featured-img , h3 {
                    text-align: right;
                }
            }
            &:nth-child(even) {
                .excerpt {
                    right: 0;
                }
            }
        }/*
            .container {
                height: inherit;
                div {
                    height: inherit;
                }
            }
            h3 {
                color: #fff;
                font-size: 40px;
                top: 50%;
                position: relative;
                transform: translateY(-50%);
                margin: 0;
            }
            .excerpt {
                top: 50%;
                position: relative;
                transform: translateY(-50%);
                &:after {
                    content: '';
                    width: 10%;
                    display: block;
                    padding-top: 20px;
                    position: absolute;
                }
            }

    /* 6. Front page white label sec */
        #white-label-betting-software {
            span {
                display: block;
            }
            .excerpt {
                text-align: center;
                div {
                    background: rgba(0,0,0,0.04);
                    border-radius: 10px;
                    width: 100%;
                    max-width: 300px;
                    margin: 0 auto;
                    padding-top: 10px;
                    ul {
                        padding: 0;
                        margin: 0;
                        list-style: none;
                        li {
                            padding-bottom: 10px;
                            font-size: 20px; 
                        }
                    }
                }
            }
            .carousel {
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 30px 0 0 0;
                    background: #333;
                    .item {
                        padding: 0;
                        margin: 0;
                        div {
                            width: 32.43%;
                            float: left;
                            padding: 0 15px;
                            margin: 0 5px;
                            span {
                                padding: 5px 0;
                                text-align: center;
                                font-size: 20px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        /* 7. Front page live betting sec */
        //#live-betting-grid {

        //}
        /* 8. Front page mobile betting sec */
        //#mobile-betting {

        //}
    }


/* 9. Front page third party sec */

#third-parties {
    background: #515071 url(http://localhost/ARsite/app/wp-content/uploads/2018/08/third-p-back.png);
    background-size: cover;
    .title{
        color: #fff;
    }
        .tp-prod-outer {
            background: rgba(255,255,255,0.1);
            border-radius: 30px;
            padding: 30px;
            max-width: 400px;
            margin: 30px auto;
            position: relative;
            h3 {
                text-align: center;
                padding: 10px 0 50px 0;
                color: #fff
            }
            .excerpt {
                color: #fff;  
            }
            .tp-img-outer {
                text-align: center
            }
        }
}
#services {
    background: #515071 url(http://localhost/ARsite/app/wp-content/uploads/2018/08/services-back.jpg);
    background-size: cover;
    .title{
        color: #fff;
    }
    .serv-outer {
        background: rgba(255,255,255,0.1);
        border-radius: 30px;
        padding: 30px;
        margin: 30px auto;
        position: relative;
        h3 {
            text-align: center;
            padding: 10px 0 50px 0;
            color: #fff
        }
        .excerpt {
            color: #fff;  
        }
        .tp-img-outer {
            text-align: center;
            img {
                width: 128px
            }
        }
    }
}


    