/**
* 0. General
* 1. Products page
* 2. About page
*/

/* 0. General */
.posts-sec-outer {
    padding: 50px 0 100px 0;
    color: #fff;
    h3 {
        font-size: 28px;
        text-align: center;
        padding: 0 0 100px 0;
    }
    .page-text {
        padding: 0 0 100px 0;
        font-size: 18px;
    } 
    .posts-sec {
        .cpt-outer {
            padding: 50px 30px;
            opacity: 0.1;
            transition: all 1s;
            transform: scale(0.8);
            position: relative;
            border-radius: 50px;
            margin: 150px 0;
            &:first-child {
                margin: 0 0 150px 0;
            }
            .cpt-background {
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                opacity: 0.2;
                filter: saturate(10%);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50px;
            }
            h5 {
                font-size: 30px;
                padding-bottom: 30px;
                text-align: center;
            }
            .nav-tabs {
                border: none;
                li {
                    margin: 0;
                    a {
                        border: none;
                    }
                    &.active {
                        border-bottom: 0.5px solid;
                        a {
                            background: none;
                            border: none;
                            margin: 0;
                        }
                    }
                }
            }
            .tab-pane {
                padding: 30px 20px 20px 20px;
                ul {
                    list-style: circle;
                    li {
                        display: list-item;
                        margin-bottom: 10px;
                    }
                }
            }
            .feat-img {
                text-align: center;
                img {
                    margin-bottom: 30px;
                    max-width: 400px;
                }
            }
            &.active {
                opacity: 1;
                transform: scale(1);
                background: rgba(255,255,255,0.1);
            }
        }
    }
}

/* 1. Products page */
body.page-template-template-products {
    .posts-sec-outer {
        color: $grey;
        .cpt-outer.active {
            background: rgba(0,0,0,0.1);
        }
        .post-content {
            padding: 30px;
            background: rgba(255,255,255,0.7);
        }
        #prod-page-tp {
            background: $primary-color-two;
            position: relative;
            min-height: 200px;
            overflow: hidden;
            border-radius: 0 60px;
            &:hover {
                #tp-overlay {
                    transform: skew(-35deg) translateX(120%);
                    transition-delay: 0s;
                }
                .tp-thumbs {
                    transform: translateY(60%);
                    &#tp-link {
                        transform: translateY(70%);
                    }
                }
            }
            #tp-overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                background: $grey;
                animation: tp-overlay 3s ease-in-out infinite ;
                transform: skew(-35deg) translateX(10%);
                border-left: 10px solid white;
                transition: all 0.5s;
                z-index: 9;
                transition-delay: 0.8s;
            }
            .tp-thumbs {
                width: 19.75%;
                display: inline-block;
                transform: translateY(-100%);
                transition-property: all;
                transition-duration: 1s;
                text-align: center;
                font-size: 18px;
                color: #fff;
                &#tp-link {
                    transform: translateY(-300%);
                    a {
                        color: white;
                        font-size: 30px;
                        text-decoration: none;
                        animation: tp-link 1.5s ease-in-out infinite ;
                    }
                }
                img {
                    max-width: 70px;
                    margin: 0 auto;
                    display: block;
                }
            }
            #tp-view {
                width: 100%;
                display: block;
                transform: skew(35deg) translate(60px ,-50%);
                font-size: 30px;
                position: relative;
                top: 50%;
                color: #fff;
                i {
                    position: absolute;
                    left: -100px;
                    animation: tp-arrow 1.5s ease-in-out infinite ;
                }
            }
        }
    }
}


/* 2. About page */
body.page-template-template-about {
    .posts-sec-outer {
        color: $grey;
        #frame-outer {
            position: relative;
            #vid-frame {
                height: 350px;
                width: 100%;
            }
        }
        .vid-item {
            width: 100%;
            display: inline-block;
            position: relative;
            border: 0;
            &:nth-child(odd) {
                margin-right: 10px;
            }
            &:nth-child(even) {
                margin-left: 10px;
            }
            img {
                width: 100%;
                filter: saturate(50%) opacity(60%);
                transition: all 0.5s;
                cursor: pointer;
                padding: 20px 0;
                border-bottom: 1px solid lighten($grey, 50%);
                &:hover {
                    filter: saturate(100%) opacity(100%);
                }
            }
        }
        .owl-nav{
            display: block;
            position: absolute;
            bottom: 0;
            width: auto;
            transition: opacity 0.2s;
            opacity: 0.3;
            z-index: 999;
            button {
                display: inline-block;
                position: relative;
                width: 40px;
                padding: 5px;
                margin-right: 2px;
                border: 1px solid $grey;
                border-radius: 10px;
                text-align: center;
                span {
                    position: relative;
                    color: $grey;
                }
            }
        }
        .aboutus-contact-sec {
            ul {
                margin-top: 50px;
                color: lighten($grey, 50%);
                padding: 0 15px;
                li {
                    margin-bottom: 10px;
                    i {
                        color: $grey;
                        margin-right: 10px;
                    }
                    a {
                        color: $grey;
                    }
                }
            }
        }
    }
}

